<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Welcome to The Social Distance Network!</h2>
                <div class="container">
                    <h1>Register</h1>
                    <p>Create an account here - or sign in down there!</p>
                    <hr>
                    <form id="register-form">
                        <label for="username-reg"><b>Username</b></label>
                        <input type="text" id="username-reg" placeholder="Create Username" name="username-reg" required>

                        <label for="password-reg"><b>Password</b></label>
                        <input type="text" id="password-reg" placeholder="Enter Password" name="password-reg" required>

                        <label for="city-reg"><b>Your City</b></label>
                        <input type="text" id="city-reg" placeholder="Enter City" name="city-reg" required>

                        <label for="state-reg"><b>Your State</b></label>
                        <input type="text" id="state-reg" placeholder="Enter State" name="state-reg" required>
                        <hr>

                        <button type="submit" class="registerbtn">Register</button>
                    </form>
                </div>

                <div class="container signin">
                    <p>Already have an account? Sign in here.</p>
                    <div class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Sign In</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="action_page.php" method="post" id="login-form">
                                        <div class="container">

                                            <label for="username"><b>Username</b></label>
                                            <input type="text" id="username" placeholder="Enter Username"
                                                name="username" required>

                                            <label for="password"><b>Password</b></label>
                                            <input type="password" id="password" placeholder="Enter Password"
                                                name="password" required>

                                            <button type="submit" class="loginbtn">Login</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <script>console.log("this before the post")</script>
                <ul id="example-list" class="list-group">
                    {{#each news}}
                    <div id="post-{{this.source.id}}" class="post">
                        <div class="columns">
                            <div id="post-header" class="column has-text-right">
                                <span id="post-catagory" class="is-pulled-left has-text-left">{{this.catagory}}</span>
                                <span id="post-date" class="is-pulled-right">Posted: {{this.publishedAt}}</span>
                                <span id="post-title" class="is-pulled-left has-text-left is-size-2"><a
                                        href="{{this.url}}"></a>{{this.title}}</span>

                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-one-quarter has-text-centered">
                                <img class="is-pulled-left is-block" id="post-image" src="{{this.urlToImage}}"
                                    alt="News Thumbnail Icon" />
                                <span id="post-username" class="is-block">Source: {{this.source.name}}</span>
                                <span id="post-location" class="is-block">by: {{this.author}}</span>
                                <span id="post-location" class="is-block">description: {{this.description}}</span>
                            </div>
                            <div id="post-text" class="column">
                                <p>
                                    {{this.desctription}}
                                </p>
                                {{!-- <span class="post-links">
                <a href="/post/{{this.id}}/comment">Comment</a> ||
                <a href="/post/{{this.id}}/report">Report</a>
            </span> --}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

{{!-- _________________________________________________ --}}