<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1 class="text-center">News pertaining to the COVID-19 Outbreak</h1>
                <ul id="example-list" class="list-group">
                    {{#each news}}
                    <div id="post-{{this.source.id}}" class="post">
                        <div class="columns">
                            <div id="post-header" class="column has-text-right">
                                <span id="post-catagory" class="is-pulled-left has-text-left">{{this.catagory}}</span>
                                <span id="post-date" class="is-pulled-right">Posted: {{this.publishedAt}}</span>
                                <span id="post-title" class="is-pulled-left has-text-left is-size-2"><a
                                        href="{{this.url}}"></a>{{this.title}}</span>

                            </div>
                        </div>
                        <div class="columns">
                            <div class="column has-text-centered">
                                <img class="is-pulled-left is-block" id="post-image" src="{{this.urlToImage}}"
                                    alt="News Thumbnail Icon" />
                                <span id="post-username" class="is-block">Source: {{this.source.name}}</span>
                                <span id="post-author" class="is-block">by: {{this.author}}</span>
                                <span id="post-description" class="is-block">description: {{this.description}}</span>
                            </div>
                            {{!-- <div id="post-text" class="column">
                                <p>
                                    {{this.desctription}}
                                </p> --}}
                            {{!-- <span class="post-links">
                <a href="/post/{{this.id}}/comment">Comment</a> ||
                <a href="/post/{{this.id}}/report">Report</a>
            </span> --}}
                            {{!-- </div> --}}
                        </div>
                    </div>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

{{!-- _________________________________________________ --}}